body {
    font-family: Arial, sans-serif;
    background-image: url('mandela\ photo.jpg'); /* Change 'background-image.jpg' to the actual path of your background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 36px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

p {
    font-size: 18px;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 10px 0;
}